// Variables
$primary-color: #c6634c;
$secondary-color: #d4af37; 
$primary-neutral-color: #dcd4c9;
$secondary-neutral-color: #222;
$primary-font-family: 'Roboto Condensed', Arial, sans-serif;
$secondary-font-family: 'Lato', Helvetica, sans-serif;
